.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  align-self: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 10px;
  margin-left: 10px;
  grid-column: 2/3;
}

.profile__edit-button:hover {
  transition: 0.5s;
  opacity: 0.6;
}

@media (max-width: 500px) {
  .profile__edit-button {
    background-image: url(../../../images/320edit.svg);
    width: 18px;
    height: 18px;
  }
}
