.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
}

@media (max-width: 650px) {
  .profile {
    flex-direction: column;
    padding-top: 39px;
  }
}
