.header {
  max-width: 880px;
  padding-top: 45px;
  margin: 0 auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #545454;
}

@media (max-width: 600px) {
  .header {
    max-width: 100%;
    padding-top: 28px;
  }
}
